{% extends 'base.html' %} 
 {% load static %} 
 
 {% block content %} 
 <div class="content"> 
   <div class="container-fluid"> 
     <h4 class="page-title">Remove Record</h4> 
     <div class="row"> 
       <div class="col-md-12"> 
         <div class="card"> 
           <div class="card-header"> 
             <div class="card-title">Delete Organization</div> 
             <div class="card-category">Warning: This action is permanent and cannot be undone</div> 
           </div> 
           <div class="card-body"> 
             <div class="col-md-6"> 
               <form action="" method="post" novalidate> 
                 {% csrf_token %} 
                 <p class="mb-4">Are you sure you want to permanently delete the profile registry for <strong>"{{ object }}"</strong>?</p> 
                 <div class="form-group px-0"> 
                   <button type="submit" class="btn btn-danger btn-rounded">Confirm and Delete</button> 
                   <a href="{% url 'organization-list' %}" class="btn btn-secondary btn-rounded ml-2">Cancel</a> 
                 </div> 
               </form> 
             </div> 
           </div> 
         </div> 
       </div> 
     </div> 
   </div> 
 </div> 
 {% endblock %}