{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Organizations</h4>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">List of Organizations</div>
                        <p class="card-category">All registered student organizations in the system.</p>
                    </div>
                    <div class="card-body">
                        <table class="table table-head-bg-primary mt-4">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>College</th>
                                    <th>Description</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for org in organizations %}
                                <tr>
                                    <td>{{ org.name }}</td>
                                    <td>{{ org.college.college_name|default:"N/A" }}</td>
                                    <td>{{ org.description|truncatechars:100 }}</td>
                                </tr>
                                {% empty %}
                                <tr>
                                    <td colspan="3" class="text-center">No organizations found.</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% include 'includes/pagination.html' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
