{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Programs</h4>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Academic Programs</div>
                        <p class="card-category">List of all degree programs and their respective colleges.</p>
                    </div>
                    <div class="card-body">
                        <table class="table table-head-bg-info mt-4">
                            <thead>
                                <tr>
                                    <th>Program Name</th>
                                    <th>College</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for program in programs %}
                                <tr>
                                    <td>{{ program.prog_name }}</td>
                                    <td>{{ program.college.college_name }}</td>
                                </tr>
                                {% empty %}
                                <tr>
                                    <td colspan="2" class="text-center">No programs found.</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% include 'includes/pagination.html' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
